<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">


<div class="topbar-wrapper">
    <div class="topbar-content">
        <div class="logo">
            <a href="{{ url_for('accueil') }}">MonCampus - DevSecOps</a>
        </div>
        <button id="burger-menu" class="burger-menu">&#9776;</button>
        <div class="nav-links" id="nav-links">
            <a href="{{ url_for('accueil') }}">Accueil</a>
            <a href="{{ url_for('notes') }}">Notes</a>
            <a href="{{ url_for('edt') }}">Emploi du Temps</a>
            <a href="{{ url_for('evaluations') }}">Évaluations</a>
<!--//////////////// ajout de la session gestion d'utilisateur si le role est admin ///////////////////////////////////-->
            {% if session.get('user_role') == 'admin' %}
            <a href="{{ url_for('admin_users') }}">Gestion Utilisateurs</a>
            {% endif %}
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        </div>
<!--///////////////////////////// affichage du role de l'utilisateur /////////////////////////////////////////////////-->
        <div class="user-controls" id="user-controls">
            <span class="role-badge">{% if session.get('user_role') %}{{ session.get('user_role')|capitalize }}{% elif role %}{{ role|capitalize }}{% else %}Étudiant{% endif %}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Déconnexion</a>
        </div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const burgerMenu = document.getElementById('burger-menu');
        const navLinks = document.getElementById('nav-links');
        const userControls = document.getElementById('user-controls');

        if (burgerMenu) {
            burgerMenu.addEventListener('click', () => {
                navLinks.classList.toggle('active');
                userControls.classList.toggle('active');
            });
        }
    });
</script>
